<div class="col" *ngIf="albums">
	<h1>Albums</h1>	
	<table class="table">
		<thead>
			<tr>
				<th>Album Names</th>
				<th>Read</th>
				<th>Add</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let album of albums; let i=index">
				<td>{{ album.title }}</td>
				<td>
					<svg class="icon" (click)="onRead(album.id)">
						<use xlink:href="../../assets/img/sprites.svg#icon-address-book"></use>
					</svg>
				</td>
					<td>
					<svg class="icon" (click)="onAdd(album.id)">
						<use xlink:href="../../assets/img/sprites.svg#icon-plus"></use>
					</svg>
				</td>
				<td>
					<svg class="icon" (click)="onUpdate(album.id)">
						<use xlink:href="../../assets/img/sprites.svg#icon-loop2"></use>
					</svg>
				</td>
				<td>
					<svg class="icon" (click)="onDelete(album.id, i)">
						<use xlink:href="../../assets/img/sprites.svg#icon-minus"></use>
					</svg>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- album details -->
<app-album-details></app-album-details>
<br><br><hr>
<!-- album form form POST and PUT -->
<app-album-form *ngIf="showForm"></app-album-form>