<div class="col" *ngIf="albums$ | async; let albums">
	<h1>Albums</h1>	
	<table class="table">
		<thead>
			<tr>
				<th>Album Names</th>
				<th>Read</th>
				<th>Add</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let album of albums.data">
				<td>{{ album.title }}</td>
				<td>
					<svg class="icon" (click)="onRead(album.id)">
						<use xlink:href="../../assets/img/sprites.svg#icon-address-book"></use>
					</svg>
				</td>
					<td>
					<svg class="icon" (click)="onAdd()">
						<use xlink:href="../../assets/img/sprites.svg#icon-plus"></use>
					</svg>
				</td>
				<td>
					<svg class="icon" (click)="onUpdate(album.id)">
						<use xlink:href="../../assets/img/sprites.svg#icon-loop2"></use>
					</svg>
				</td>
				<td>
					<svg class="icon" (click)="onDelete(album.id)">
						<use xlink:href="../../assets/img/sprites.svg#icon-minus"></use>
					</svg>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<app-album-details></app-album-details>
<br><br><hr>
<app-album-form *ngIf="showForm"></app-album-form>