<div class="col">
	<h2>Add Album</h2>
	<form  (ngSubmit)="onSubmit(f)" #f="ngForm">
		<div class="form-group">
			<label>Image ID's</label>
			<input 
				type="text" 
				class="form-control"
				name="ids"
				[(ngModel)]="album.ids"
				#ids="ngModel"
				required>
			<div class="alert alert-danger"
				*ngIf="ids.invalid && ((ids.dirty || ids.touched) && title === '')">
				<p *ngIf="deletehashes.errors.required"> This field is required.</p>
			</div>
		</div>

		<div class="form-group">
			<label>Title</label>
			<input 
				type="text" 
				class="form-control"
				name="title"
				[(ngModel)]="album.title"
				#title="ngModel"
				required>
			<div class="alert alert-danger"
				*ngIf="title.invalid && ((title.dirty || title.touched) && title === '')">
				<p *ngIf="title.errors.required">This field is required.</p>
			</div>
		</div>

		<div class="form-group">
			<label>Description</label>
			<input 
				type="text" 
				class="form-control"
				name="description"
				[(ngModel)]="album.description"
				#description="ngModel"
				required>
			<div class="alert alert-danger"
				*ngIf="description.invalid && ((description.dirty || description.touched) && description === '')">
				<p *ngIf="description.errors.required"> This field is required.</p>
			</div>
		</div>

		<div class="form-group">
			<label>Cover Img</label>
			<input 
				type="text" 
				class="form-control"
				name="cover"
				[(ngModel)]="album.cover"
				#cover="ngModel"
				required>
			<div class="alert alert-danger"
				*ngIf="cover.invalid && ((cover.dirty || cover.touched) && cover === '')">
				<p *ngIf="cover.errors.required"> This field is required.</p>
			</div>
		</div>
		<button class="btn btn-primary" >SAVE</button>
	</form>
</div>

