<div class="col">
	<h4>Add image</h4>
	<form [formGroup]="imageForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label>Title</label>
			<input 
				type="text" 
				name="ids"
				class="form-control"
				formControlName="ids"
				required>
			<div class="alert alert-danger"
				*ngIf="(deleteHashes.invalid && (deleteHashes.dirty || deleteHashes.touched))">
				<p *ngIf="deleteHashes.errors.required">This field is required.</p>		
			</div>
		</div>
		<button class="btn btn-primary">Submit</button>
	</form>
</div>

