<div class="col">
	<h2>Favorites</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>		
				<th>Cover</th>	
				<th>Add image</th>	
				<th>Delete image</th>
				<th>Comments</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let favorite of favAlbums; let i=index">
				<td>{{ favorite.title }}</td>
				<td>
					<img src="{{favorite.images[0].link}}" alt="pic" style="width: 50px;">
				</td>
				<td>
					<svg class="icon">
						<use xlink:href="../../assets/img/sprites.svg#icon-plus"></use>
					</svg>
				</td>
				<td>
					<svg class="icon" 
						(click)="onDelete(favorite.id, i)">
						<use xlink:href="../../assets/img/sprites.svg#icon-minus"></use>
					</svg>
				</td>
				<td>
					<button class="btn btn-primary btn-sm" 
							(click)="onRead(favorite.id)"
							>{{ showHideComments }}</button>
				</td>
			</tr>
			<ng-container *ngIf="comments.length > 1">
				<h4 class="comments__heading">Comments</h4>

				<tr *ngFor="let comment of comments | slice:0:showAllComments">
					<td colspan="5">
						{{ comment.comment }}<br>
						<ul class="comments__list">
							<li>
								<button class="btn btn-sm" (click)="onReadAllChildrenComments(comment.id)">Read all comments</button>
							</li>
							<li>
								<button class="btn btn-sm" (click)="onVote(comment.id)">Like</button> likes: <strong>{{comment.ups}}</strong>
							</li>
							<li>
								<button class="btn btn-sm" (click)="onAddComment(comment.id)">Leave comment</button>
							</li>
							<li>
								<button class="btn btn-sm" (click)="onDelete(comment.id)">Delete Comment</button>
							</li>
						</ul>
						<br><br>
						<ul class="list-group">
							<ng-container *ngIf="comment.id === replyId && (repliesComments.length - 1)">
								<li class="list-group-item" *ngFor="let reply of repliesComments">{{ reply.comment }}</li>
							</ng-container>
						</ul>
						<ng-container *ngIf="comment.id === commentId">
							<div class="form-group">
								<input 
									type="text" 
									name="comment" 
									class="form-control"
									ngModel
									#f>
								<button class="btn btn-primary btn-sm" (click)="onSubmit(f)">leave comment</button>
							</div>
						</ng-container>
					</td>
				</tr>
				<tr *ngIf="showAllComments === 5">
					<button 
						class="btn btn-success btn-sm btn-load"
						(click)="showAllComments=1000">Load all comments</button>
				</tr>
				<tr>
					<td  colspan="5">
							<div class="form-group">
								<label>Leave comment</label>
								<input 
									type="text"
									class="form-control" 
									name="mainComment"
									[(ngModel)]="mainComment">
							</div>
							<button 
								class="btn btn-primary btn-sm" 
								(click)="onLeaveComment(mainComment)">Leave comment</button>
					</td>
				</tr>
			</ng-container>
		</tbody>
	</table>

	<hr>
	<app-favorite-form *ngIf=""></app-favorite-form>
</div>
