.icon {
	width: 12px;
	height: 12px;
	margin-left: 40px;
	cursor: pointer;
}

.form-group	{
	width: 100%;
}

.form-control {
	width: 75%;
	margin-right: 20px;
}

.comments__heading {
	margin: 50px 0 20px 0;
}
.btn-load {
	margin: 20px 50px 80px 50px;
}

.comments__list {
	list-style: none;
}

.comments__list > li {
	float: left;
	margin: 5px ;
	padding: 5px;
}

.red {
	color: red;
}